doctype html
block content
  h1= title
  p Risultato della partita:
  p Squadra di casa: #{squadraCasa}
  p Goal: #{goalCasa}
  br
  p Squadra ospite: #{squadraOspite}
  p Goal: #{goalOspite}
  p
    a(href='/') Torna alla home page
